.black {
  background-color: black;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.aqua {
  background-color: aqua;
}
.pink {
  background-color: pink;
}
.transparent {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==);
}
.activeColor {
  box-shadow: 0 0 5px rgb(141, 141, 141);
}

.textIpt {
  z-index: 99;
  font-size: 16px;
  border: none;
  background: transparent;
  outline: none;
  text-align: center;
  resize: none;
  position: fixed;

  box-sizing: border-box;
  overflow: hidden;

}

/* 图形选择框 */
.chooseBtns {
  position: fixed;
  width: 40vw;
  height: 6vh;
  border: 0.1vw solid #ddd;
  left: 50%;
  top: 1vh;
  transform: translate(-50%);
  border-radius: 0.5vw;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5% 1%;
  box-shadow: 1px 1px 5px #ddd;
  overflow: hidden;
  z-index: 99;
  background: rgba($color: #ffffff, $alpha: 0.8);
  & > .line {
    width: 1px;
    height: 100%;
    background-color: #ccc;
    margin: 0 0.5vw;
  }
  i {
    cursor: pointer;
    font-size: 1.2vw;
  }
  .btnBox {
    width: 2.3vw;
    height: 2.3vw;
    cursor: pointer;
    border-radius: 0.4vw;
    position: relative;
    margin-right: 5px;
    &:hover {
      background-color: rgba(220, 237, 246, 0.8);
    }
    &::after {
      content: attr(mode);
      font-size: 0.5vw;
      color: gray;
      text-align: right;
      position: absolute;
      display: flex;
      align-items: end;
      justify-content: end;
      width: 15px;
      height: 20px;
      bottom: 0;
      right: 2px;
      box-sizing: border-box;
    }
  }
  button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .drawBtn {
    display: flex;
  }
}

.focusBtn {
  background-color: #e3e2fe !important;
  i {
    color: blue;
  }
}

/* 样式编辑框 */
.modify {
  position: fixed;
  /* width: 13%; */
  width: 220px;
  height: 80%;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #ddd;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  overflow: auto;
  background: rgba($color: #ffffff, $alpha: 0.8);

  &::-webkit-scrollbar {
    width: 2px;
    height: 8px;
    transition: all 2s;
  }
  &::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8a00), to(#e52e71));
    background: rgb(221, 222, 224);
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0, 30%, 87%, 0.25),
      inset -2px -2px 2px rgba(232, 227, 227, 0.25);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 199, 209);
  }
  .title {
    font-size: 12px;
    color: #333;
    margin-bottom: 5px;
  }
  .borderStyle {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(186, 186, 186, 0.5);
    padding: 10px 0;
    /* 边框宽度 */
    .lines {
      display: flex;
      & > div {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        & > div {
          width: 80%;
          background-color: #000;
          border-radius: 5px;
        }
      }
    }

    .colors {
      width: 100%;
      height: 100%;
      display: flex;
      .line {
        height: auto;
        width: 1px;
        background-color: rgba(186, 186, 186, 0.8);
        margin: 0 10px;
      }
      .singleColor,
      .bgc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        & > div {
          width: 20px;
          height: 20px;
          border-radius: 5px;
          cursor: pointer;
          position: relative;
          border: 1px solid #ccc;
        }
      }

      .chooseColor {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .linearGradient {
      .prompt {
        width: 100%;
        font-size: 13px;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
      }
      .colorNo{
        width: 13px;
      }
      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .el-input-number {
          width: 85px;
        }
        .removeSingleGradient {
          width: 25px;
        }
      }
    }
  }
  /* 背景模式选择，单色或渐变 */
  .sigleOrGradient {
    display: flex;
    margin-bottom: 10px;
    .bgcSelect {
      border-radius: 3px;
      background-color: #fff;
      width: 90px;
      margin-left: 10px;
      height: 20px;
      outline: none;
      font-size: 12px;
      margin-top: -3px;
    }
    .el-button {
      margin-top: -3px;
      margin-left: auto;
      width: 25px;
    }
  }
}

/* 设置按钮 */
.settingBtn {
  position: fixed;
  width: 2.5vw;
  height: 2.5vw;
  border: 0.1vw solid #999;
  left: 1vw;
  top: 1vw;
  border-radius: 0.5vw;
  cursor: pointer;
  text-align: center;
  line-height: 2.5vw;
  background: rgba($color: #ffffff, $alpha: 0.8);

  &:hover {
    background-color: #efefef;
  }
  i {
    font-size: 1.6vw !important;
  }
}
// 图形设置面板
.setting {
  position: fixed;
  left: 20px;
  width: 210px;
  padding: 15px;
  box-sizing: border-box;
  top: 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #ddd;
  z-index: 99;
  background-color: #fff;
  & > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 0;
    .content {
      color: #333;
    }
    i {
      margin: 0 10px;
    }
    &:hover {
      background-color: #efefef;
    }
  }
}
