@font-face {
  font-family: "iconfont"; /* Project id 4170202 */
  src: url('//at.alicdn.com/t/c/font_4170202_u19as62jj8.woff2?t=1691832118913') format('woff2'),
       url('//at.alicdn.com/t/c/font_4170202_u19as62jj8.woff?t=1691832118913') format('woff'),
       url('//at.alicdn.com/t/c/font_4170202_u19as62jj8.ttf?t=1691832118913') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-resize:before {
  content: "\e66b";
}

.icon-resize-tilt:before {
  content: "\e85b";
}

.icon-resize-vertical-copy:before {
  content: "\e85c";
}

.icon-resize-title2-copy:before {
  content: "\e85d";
}

.icon-huaban:before {
  content: "\e63f";
}

.icon-xiangpi:before {
  content: "\e625";
}

.icon-xiangpica:before {
  content: "\e85a";
}

.icon-24:before {
  content: "\e6af";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-suoding:before {
  content: "\e6e6";
}

.icon-reset:before {
  content: "\e611";
}

.icon-xiazai:before {
  content: "\e675";
}

.icon-wenzi1:before {
  content: "\e652";
}

.icon-caidan:before {
  content: "\e791";
}

.icon-yuanjiaojuxing:before {
  content: "\e600";
}

.icon-zhijiaojuxing:before {
  content: "\e601";
}

.icon-tuoyuanxing:before {
  content: "\e790";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-youjiantou:before {
  content: "\e603";
}

.icon-tubiao:before {
  content: "\e636";
}

.icon-bianji-shubiao:before {
  content: "\e687";
}

.icon-line:before {
  content: "\e6bb";
}
